---
layout: default
title: Our Research
permalink: /research/
---

<div class="container">
  <div class="tag__head">
    
    <div class="post">
    <h1 class="tag__title">{{ page.title }}</h1>
    <p class="post__content">We live in a microbial world with <a href="{{ site.baseurl }}/prepare">enormous genetic diversity</a>. Only a handful of micro-organisms are pathogenic and yet the overuse of antimicrobials is tipping the world into an era where <a href="{{ site.baseurl }}/amritas">antibiotics no longer work</a>. By understanding how microbes interact and assemble, we want to find urgently needed solutions to address the antimicrobial resistance challenge. Our vision is to understand how natural microbial communities function and use this to design synthetic communities that address humanities grand challenges in health, sustainability, and climate change.</p>
    </div>
  </div>
  <hr>
  <p align="center">
    <img src="/images/misc/MTMSResearch.png"/>
  </p>

</div>


<hr>
<a href="#tags_top" id="tags_top"></a>

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

{% if page.video_embed %} {% assign videoPost = ' post-head-video' %} {% assign videoInfo = ' post__info-video' %} {% endif %}

<!-- begin tags -->
<section class="tags">

  <div class="tag__head">
    
    <div class="container">
      
      <h1 class="tag__title">Research Areas</h1>
      <div class="row">
      {% for item in (0..site.tags.size) %}
        {% unless forloop.last %}
          {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
            <a href="#{{ this_word | cgi_escape | url_decode }}" class="tag__link"><b>{{ this_word }}</b> &nbsp;·&nbsp; {{ site.tags[this_word].size }}</a>
        {% endunless %}
      {% endfor %}
      </div>
    </div>
  </div>

  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
  <div class="tags__inner">

    <div class="container">
      <div class="section__info">
        <div class="section__head__small">
          <h1 class="section__title" id="{{ this_word | cgi_escape | url_decode }}">{{ this_word }}</h1>
          <a class="section__link top__link" href="#tags_top">Return to top</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="section__inner">
        <div class="row">
          <div class="col col-12"></div>
          {% for post in site.tags[this_word] %}
            {% if post.title != null %}
              {% include article.html %}
            {% endif %}
          {% endfor %}
          </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endunless %}
{% endfor %}

</section>
<!-- end tags -->