---
layout: default
title: Software Packages
permalink: /software/
---

<div class="container">
  <div class="tag__head">
    <h1 class="tag__title">{{ page.title }}</h1>
    {% if page.description %}
    <p class="tag__description">{{ page.description }}</p>
    {% endif %}
  </div>
  {% for theme in site.data.resources.software %}
  <div class="row">
    <div class="col col-12">
      <div class="section__info">
        <div class="section__head__small">
          <img src="{{ theme.image }}" width="30" height="30">
          <h1 class="section__title">{{ theme.theme }}</h1>
          <a class="section__link top__link" href="#top">Return to top</a>
        </div>
      </div>
    </div>
  </div>
  
    <div class="section__inner">
      <div class="row">
        {% for post in theme.items %}
          {% if post.title != null %}
            {% include resource.html %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  
  {% endfor %}
</div>
