/* Author + Authors */

// Authors Page
.author-head {
  margin-top: 20px;
  margin-bottom: 60px;

  &.author-head-video {
    margin-bottom: 40px;
  }

  .row {
    align-items: center;

    .col {
      flex-grow: 1;
    }
  }

  @media (max-width: $desktop) {
    margin-bottom: 40px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 32px;
  }
}

.author-image {
  position: relative;
  transform: translate(0);
  aspect-ratio: 1/1.25;
  border-radius: 12px;
  overflow: hidden;
  background: var(--background-alt-color);

  @supports not (aspect-ratio: 1/1.25) {
    padding-top: 125%;
    min-height: 260px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }
}

.authors {
  .authors__head {
    margin: 20px 0 60px;
  }

  .authors__title {
    font-size: 52px;
    text-align: center;
  }

  .authors__info {
    margin-bottom: 40px;
    text-align: center;
  }

  .authors__image {
    display: block;
    width: 220px;
    height: 220px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-color: var(--background-alt-color);
    box-shadow: inset 0 0 0 13px var(--background-color);

    &:hover {
      transform: translateY(-4px);
    }

    img {
      display: inline-block;
      width: 220px;
      height: 220px;
      padding: 8px;
      border: 5px solid var(--border-color);
      border-radius: 50%;
      object-fit: cover;
      user-select: none;
    }
  }

  .authors__name {
    font-size: 28px;
    margin-bottom: 8px;
    line-height: 1.2;
    
    &:hover {
      a {
        text-decoration-color: var(--link-color-hover);
      }
    }

    a {
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: 2px;
    }
  }

  .authors__posts__count {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--heading-font-color);
  }

  .authors__description {
    max-width: 380px;
    margin: 24px auto 0;
    font-size: 16px;
  }

  @media (max-width: $desktop) {
    .authors__name {
      font-size: 32px;
    }
  }

  @media (max-width: $mobile) {

    .authors__head {
      margin: 20px 0 40px;
    }

    .authors__title {
      font-size: 32px;
    }

    .authors__name {
      font-size: 28px;
    }

    .authors__description {
      max-width: 100%;
    }
  }
}

// Author Page
.author {
  .author__content {
    margin: 20px 0 60px;
    text-align: left;

    h2 {
      font-size: 28px;

      @media(max-width: $mobile) {
        font-size: 20px;
      }
    }

    p {
      max-width: 740px;
      margin: 0 auto 0;
      font-size: 20px;
    }
  }

  .author__image {
    display: block;
    width: 220px;
    height: 220px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-color: var(--background-alt-color);
    box-shadow: inset 0 0 0 13px var(--background-color);

    img {
      display: inline-block;
      width: 220px;
      height: 220px;
      padding: 8px;
      border: 5px solid var(--border-color);
      border-radius: 50%;
      object-fit: cover;
      user-select: none;
    }
  }

  .author__name {
    margin-bottom: 8px;
    font-size: 52px;
    line-height: 1.2;
  }

  .author__posts__count {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--heading-font-color);
  }

  .author__description {
    margin-bottom: 24px;
    font-size: 30px;
    text-align: justify;
    line-height: 1.5;

    @media (max-width: $tablet) {
      margin-bottom: 16px;
      font-size: inherit;
    }
  }

  .author__info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    //margin-bottom: 32px;

    @media (max-width: $mobile) {
      align-items: center;
      justify-content: center;
    }

    .author__social__item {
      padding: 15px 18px;
      margin-right: 12px;
      margin-bottom: 12px;
      font-size: 20px;
      line-height: 1;
      border-radius: 30px;
      color: var(--link-color);
      background-color: var(--light-gray);

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: var(--darken-gray);
      }

      @media (max-width: $mobile) {
        padding: 10px 14px;
      }
    }
  }

  @media (max-width: $mobile) {
    .author__name {
      font-size: 32px;
    }

    .author__content p {
      font-size: inherit;
    }
  }
}