/* Tags */
.tag__head {
  margin-bottom: 60px;

  .tag__title {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 52px;
    line-height: 1.4;

    @media (max-width: $tablet) {
      margin-bottom: 16px;
      font-size: 40px;
    }


    @media (max-width: $mobile) {
      font-size: 32px;
    }
  }

  .tag__description {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 1.4;

    @media (max-width: $tablet) {
      margin-bottom: 16px;
      font-size: inherit;
    }
  }

  .tag__link {
    display: block;
    padding: 22px 32px;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    border-radius: 60px;
    color: var(--dark);
    background-color: var(--light-gray);
    transition: $global-transition;
    margin: 12px 12px;

    @media (max-width: $mobile) {
      font-size: 13px;
      padding: 12px 20px;
      margin: 5px 5px;
    }

    &:hover {
      background-color: var(--darken-gray);
    }
  }
}

.tags__inner {
  margin-bottom: 60px;

  &.is-hidden {
    display: none;
  }

  .tag__info {
    margin: 20px 0 60px;
    text-align: center;
  }

  .tag__image {
    width: 220px;
    height: 220px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-color: var(--background-alt-color);
    box-shadow: inset 0 0 0 13px var(--background-color);

    img {
      display: inline-block;
      width: 220px;
      height: 220px;
      padding: 8px;
      border: 5px solid var(--border-color);
      border-radius: 50%;
      object-fit: cover;
      user-select: none;
    }
  }

  .tag__name {
    margin-bottom: 8px;
    font-size: 52px;
    line-height: 1.2;
    text-transform: capitalize;
  }

  .tag__counter {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
  }

  @media (max-width: $tablet) {
    .article:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $mobile) {
    .tag__name {
      font-size: 32px;
    }
  }
}