/* Gallery */
.gallery-box {
  margin: 32px -100px 32px -100px;

  @media only screen and (max-width: $desktop) {
    margin: 32px 0;
  }
}

// for figures that need to maintain aspect ratio
// such as figures in a paper/post
.figure-gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  margin-left: -24px;
  margin-bottom: -24px;

  img {
    margin-left: 24px;
    margin-bottom: 24px;
    //width: calc(100% - 24px);

    // same height
    height: 300px;
    object-fit: contain;
  }

  @media only screen and (max-width: $desktop) {
    margin-left: -12px;
    margin-bottom: -12px;

    img {
      margin-left: 12px;
      margin-bottom: 12px;
      width: calc(100% - 12px);
    }
  }

  @media only screen and (max-width: $mobile) {
    grid-template-columns: repeat(1, auto);

    img {
      width: 100%;
    }
  }
}

// for figures that need to fill the space
// such as photo galleries
.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  margin-left: -24px;
  margin-bottom: -24px;

  img {
    margin-left: 24px;
    margin-bottom: 24px;
    width: calc(100% - 24px);

    // same height
    height: 300px;
    object-fit: cover;
  }

  @media only screen and (max-width: $mobile) {
    grid-template-columns: repeat(1, auto);

    img {
      width: 100%;
    }
  }


}